@import './font.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #2F3542;
}

body {
    font-family: 'FS Albert'
}

.wrapper {
    position: absolute;
    width: 50%;
    height: 75%;
    min-width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

button {
    border: none;
    outline: inherit;
}

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

header a {
    margin-top: 5px;
    margin-left: 15px;
}

header a button {
    transform: scale(0.65);
    transition: ease transform 0.25s;
}

header a button:hover {
    transform: scale(0.75);
}

.row .del-btn {
    opacity: 0;
    transform: scale(0.9);
    transition: ease transform 0.25s;
}

.row .del-btn:hover {
    transform: scale(1);
    opacity: 1 !important;
}

.row:hover .del-btn {
    opacity: 1;
}

#add-form {
    display: flex;
    align-items: center;
    padding: 10px 7px;
}

#add-form button {
    margin-right: 7px;
    transform: scale(0.8);
    transition: ease transform 0.25s;
}

#add-form button:hover {
    transform: scale(0.9)
}

#add-form input {
    border: none;
    outline: none;
    font: inherit;
}

p a {
    color: #0366d6;
    text-decoration: none;
}

p a:hover {
    border-bottom: 1px solid #0366d6;
}

@media only screen and (max-width: 500px) {
    .wrapper {
        width: 80%;
        min-width: 200px;
    }
}